/* .container,.row,.col{border: 1px solid gray;} */
.square {
  border: 1px solid #6f38c5;
  height: 175px;
  text-align: center;
  padding-top: 15px;
  background-color: #87a2fb;
  font-weight: 1000;
  font-size: 80px;
}
h1 {
  text-align: center;
}
.main {
  background-color: #adddd0;
}
#reset {
  position: relative;
  left: 70%;
}
